@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Sacramento&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #a3bac3;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
}

@layer base {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-none m-0;
    font-family: "Sacramento", Georgia, Cambira, serif;
  }

  button,
  .button {
    @apply bg-ocean text-white px-6 py-2 rounded-[50%] transition-colors backdrop-blur;
    @apply hover:bg-ocean-100 hover:text-white hover:after:border-black;
    @apply after:content-[''] after:absolute after:h-full after:w-full after:border after:border-black/[.6] after:rounded-[50%] after:rotate-[8deg] after:-top-0.5 after:-left-0.5 after:transition-colors;
  }

  .icon-button {
    @apply button;
    @apply w-[50px] h-[50px] p-3.5;
    @apply after:-top-1 after:-left-1;
  }

  section {
    @apply w-full flex px-4 py-10 flex-col gap-8 mx-auto sm:px-6 md:px-8 lg:px-16;
    @apply max-w-[400px] md:max-w-[840px] xl:max-w-[1380px];
  }
}

@layer components {
  .tape-label {
    @apply absolute text-nowrap inline-block px-2 py-1 bg-white/[0.9] shadow-md z-10 text-base;
    @apply flex gap-2;
  }

  .dynamic-grid-3-cols {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 justify-items-stretch;
  }

  .card {
    @apply bg-white shadow-md relative p-4 transition-all top-0 left-0;
  }

  .align-vertically {
    @apply flex flex-col justify-center;
  }
}
